*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("cover.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    
    
}

.Main_section{ 
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
    height: 100vh;
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,112,1) 
    100%, rgba(0,212,255,1) 100%) ; */
    /* background-color:rgba(152, 66, 211, 0.63) */
    
}

.content{
    color: #000000;
    line-height: 40px;
    font-family: sans-serif;
    padding: 50px;
    margin-left: 5px;
    box-shadow: 5px 5px 10px #111111;
    border-radius: 5px;
    display: inline-block;
    backdrop-filter: blur(5px);
}
/*
input[type="button"]{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, 
    rgba(121,9,112,1) 100%, rgba(0,212,255,1) 100%);
    color: #ffffff;
    padding: 5px 20px;
    border-radius: 3px;
    font-weight: 400;
}

*/

.first_login{
    padding: 7px 40px;
    background: linear-gradient(90deg, rgba(102,94,231,1) 0%, rgba(121,9,112,1) 
    100%, rgba(0,212,255,1) 100%);
    color: #ffffff;
    border: 1px solid #ffffff;
    }

.Singup{
     padding: 7px 42px;
     color: #000000;
     border: 1px solid #ffffff;
     margin-bottom: 20px;
}


.email{
padding: 7px 40px;
margin-bottom: 20px;

}

.password{
padding: 7px 40px;
margin-bottom: 10px;


}
.login{
    background: linear-gradient(90deg, rgba(102,94,231,1) 0%, rgba(121,9,112,1) 
    100%, rgba(0,212,255,1) 100%);
    padding: 7px 106px;
    color: #ffffff;
    border: 1px solid #ffffff;

}

.color{
    color: blueviolet;
}

h4{
    font-weight: 400;
}

h2{
    margin-bottom: 5px;
}